<!DOCTYPE html>
<html>
  <head>
    <title>StimulusReflexActsAsTenant</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_tenant %>
      <div>
        Tenant: <%= current_tenant.id %> - <%= link_to "Change Tenant", "/" %>
      </div><br/>

      Navigation:
      <ul>
        <li><%= link_to "Project", projects_path %></li>
        <li><%= link_to "Users", users_path %></li>
      </ul><br/>
    <%= yield %>

    <% else %>
      <h2>Select Teneat</h2>

      <% Account.all.each do |account| %>
        <ul>
          <li><%= link_to "Select Tenant #{account.id}", "/#{account.id}" %>
        </ul>
      <% end %>
    <% end %>
  </body>
</html>
